%h1 Admin panel

%p
  id:
  = @pal.id
%p
  name:
  = @pal.name
%p
  email:
  = @pal.email

= form_for(@pal, as: @pal, url: admin_pal_path(@pal), html: { method: :put }) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :avatar

    - if f.object.avatar.url
      %img{src: f.object.avatar.url}
    - else
    = f.file_field :avatar
  .actions
    = f.submit "Update"